# tag 1.14.0
[submodule "Library/hidapi"]
	path = Library/hidapi
	url = https://github.com/libusb/hidapi.git
# tag 1.15.2
[submodule "Library/googletest"]
	path = Library/googletest
	url = https://github.com/google/googletest.git
